body{
  background-color: white;
}

li{
  display: inline;
  float: left;
}

.nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover{
  background-color: #111;
}

#header{
  position: relative;
  font-family: 'MuseoSans_Thin';
  z-index: 11;
}


